<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>684410904524-tide5app049ir8epb0680nh0peceilpj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.684410904524-tide5app049ir8epb0680nh0peceilpj</string>
	<key>API_KEY</key>
	<string>AIzaSyCS9GwW0JwlNXR9NhmNQ1DTzTHa9gO07wQ</string>
	<key>GCM_SENDER_ID</key>
	<string>684410904524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farisarie.Siniar</string>
	<key>PROJECT_ID</key>
	<string>siniar-d2fe3</string>
	<key>STORAGE_BUCKET</key>
	<string>siniar-d2fe3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:684410904524:ios:01b4bb9271a6532a0d4769</string>
</dict>
</plist>